body {
    width: 660px;
    background-color: #ffd700;
    /* Bright Yellow */
    color: #4b0082;
    /* Deep Purple */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    border: solid 4px rgba(75, 0, 130);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    border: 7px solid rgba(75, 0, 130, 0.1);
    padding: 4px;
}

h1 {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    color: #4b0082;
    white-space: nowrap;
}

.graph-container {
    display: flex;
    justify-content: center;
    padding: 3px;
    margin-bottom: 3px;
    background-color: rgba(75, 0, 130, 0.1);
}

weq8-ui {
    width: 100%;
}

.preamp-container,
.master-container {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 7px solid rgba(75, 0, 130, 0.1);
    padding: 4px;
}

.preamp-container label,
.master-container label {
    white-space: nowrap;
    min-width: 104px;
}

.preamp-container input,
.master-container input {
    flex-grow: 1;
    accent-color: #4b0082;
    cursor: pointer;
}
